<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Evident Test Suite">
    <listeners>
        <listener class-name="utils.ExtentReporterNG"/>
    </listeners>
    <test thread-count="5" name="EvidentTests">
        <classes>
            <class name="com.evident.EvidentLoginTest"/>
        </classes>
    </test>
</suite>
